<div id="search-sidebar">
        <div class="sidebar-header">
            <input type="text" id="search-bar" placeholder="Search" title="search-bar">
            <button class="close-sidebar" onclick="closeNav()">
                <i class="bi-x-circle"></i>
            </button>
        </div>
        <div class="search-container">
            
        </div>
    </div>
<div id="overlay" onclick="closeNav()"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/search.js"></script>