body {
    background-color: #F9F9F9;
    margin: 0 0;
    padding: 0 0;
}

nav, aside, main {
    display: inline-block;
}

nav, aside {
    display: inline;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    width: 20%;
}

nav ul li {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    opacity: 50%;
}

nav ul li a:hover {
    opacity: 1;
}

main {
    width: 60%;
}
main>h1 {
    padding:5% 0 5% 10%;
}
.post {
    height: 430px;
    width: 80%;
    background-color: white !important;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25), -5px -5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.post ul li {
    list-style: none;
}

.post textarea {
   margin: 20px 0px;
   height: 50%;
   padding:5% 10%;
   border: none;
   opacity: 0.7;
}

.post section:first-child {
    background-color: #E7E7E7;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post section:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 40%;
}
.post section:first-child input:last-child {
    border-radius: 30px;
    height: 65px;
    border: 1px solid black;
    background-color: transparent;
}

.post section:last-child input {
    width: 80%;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.post section:last-child > input {
    background-color: #3C3C3C;
    color: white;
}

.post section:last-child input:last-child {
   border: 1px solid black;
   background-color: white;
   color: black;
}

aside {
    width: 20%;
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 600px) {
    nav {
        background-color: #3C3C3C;
        height: 50px;
        width: 100%;
        color: white;
        margin-top: auto;
    }
    nav ul  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    nav ul li a {
        color: white;
        font-size: 10px;
    }

    main {
        width: 100%;
    }

    main > h1 {
        text-align: center;
    }

    .post {
        width: 100%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }
    .post section, .post section input {
        width: 100%;
    }


    aside {
        display: none;
    }

}