body {
    background-color: #F9F9F9;
}

nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-bottom: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    opacity: 50%;
}
.post {
    height: 430px;
    background-color: white !important;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25), -5px -5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.post ul li {
    list-style: none;
}

.post textarea {
   
}

.post section:last-child input {
    border: none;
    border-radius: 30px;
    background: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px 0px;
}