/*
* Global
*
*/
/* width */
#homeMain #no-post-txt {
    text-align: center;
}

#createMain > p:first-of-type {
    text-align: center;
}
div.notify-main-container {
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 100px;
    display: flex;
    padding-bottom: 250px;
    flex-direction: column;
}
.notifyContainer {
    padding-bottom: 50px !important;
}
button.refresh-notify{
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(215, 215, 215);
}
button.refresh-notify >i {
    font-size: 25px;
    opacity: .5;
}
button.refresh-notify:hover {
    background-color: #c7c7c7 !important;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fffefe;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 30px;
  }

/*Global .notification style*/
.notify-badge {
    width: fit-content;
    position: relative;
    right: 10px;
    top: 10px;
}

.notification .notify-liked {
    color: tomato;
}
.notification .notify-commented {
    color: #6C10F4;
}
.notification .notify-stared {
    color: rgb(141, 141, 0);
}
.modal-header {
    position: sticky !important;
    top: 0;
    background-color: inherit; /* [1] */
    z-index: 1055; /* [2] */
}

.modal {
    border-radius: 10%;
}

a {
    text-decoration: none;
}

a[data-name = "active"] {
    opacity: 1;
}

nav i:not([data-name="active"]) {
    opacity: .7;
}


body {
    background-color: #FCFCFC;
    margin: 0 0;
    padding: 0 0;
}

body > header:first-of-type {
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    background: linear-gradient(91deg, #9013FE -2.61%, #6C10F4 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

header h2, header a {
    color: white;
}

header h2 {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.50);
    font-weight: 400;
}


nav,  main, aside {
    display: inline-block;
}

aside.notificationAside {
    display: none;
}

nav {
    z-index: 3;
    background: linear-gradient(91deg, #9013FE -2.61%, #6C10F4 100%);
    height: 50px;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    float: initial;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
nav ul li a {
    font-size: 10px;
    color: white;
    opacity: .3;
}
nav ul li a:hover {
    opacity: 1;
}

nav i {
    display: initial;
}

main {
    width: 100%;
    float: initial;
    margin-top: 80px;
    border: none;
    height: fit-content;
    padding-bottom: 20%;
    min-height: 100vh;
}


/**
*
* CREATE VIEW
*
*/
#createMain {
    padding: 5% 0px 0px 0px;
}

#createMain h1:first-of-type, #createMain h2:first-of-type {
    text-align: center;
    margin: 50px 0 50px 0;
}

#createMain  section:first-of-type {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#createMain section:first-of-type input:last-child {
    border-radius: 30px;
    height: 60px;
    border: 1px solid black;
    background-color: transparent;
    width: 60%;
}
#createMain  section:first-of-type img , #createMain  section:first-of-type canvas{
    width: 100%;
    height: auto;
    border-radius: 30px;
    grid-row: 1/ span 1;
    grid-column: 1/span 1;
}

#createMain > div:first-of-type > div:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#createMain .item {
    height: fit-content;
    width: 90%;
    margin-bottom: 50px;
    box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.25), 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 25px 15px 25px 15px; 
}

#createMain .item input {
    width: 100% !important;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.127) !important;
    border-radius: 20px;
    border: none;
}

#createMain .item > div:first-child, #createMain .item > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
#createMain .item > div:first-child > div input, #createMain .item > div:last-child > div input{
    width: 90% !important;
}

#createMain .item > div:last-child {
    padding: 0 2% 0 2%;
}

#createMain .item > div:last-child button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}

#createMain .item > div:last-child button:first-child {
    border: 2px solid #6C10F4;
}

#createMain .item > div:last-child button:last-child {
    border: 2px solid tomato;
}
.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
aside#createAside {
    width: 100%;
    float: initial;
    border: none;
    margin: 50px 0px;
}
aside#createAside > section {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 5%;
}
aside#createAside > section img {
    display: inline;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
aside#createAside > section > ul li:first-of-type {
    font-size: 22px;
    font-weight: 500;
}
aside#createAside > section p {
    opacity: .5;
    font-size: small;
}
aside#createAside ul {
    float: inline-end;
    list-style: none;
    padding-left: 10%;
}
aside#createAside form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside#createAside form textarea {
    margin: 10% 0px 20% 0px;
    height: 200px;
    width: 90%;
    padding:5% 10%;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 30px;
    background: transparent;
}

aside#createAside form input {
    width: 90%;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    margin-bottom: 3%;
}
aside#createAside form input:nth-child(2) {
    background: linear-gradient(91deg, #6C10F4, #9013FE);
    color: white;
}

aside#createAside form>input:last-child {
   border: 1px solid #6C10F4 !important;
   background-color: white !important;
   color: #6C10F4;
}

#addItemModal .modal-footer {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    padding-top: 30px;
}

#addItemModal .modal-footer input[type="button"]{
    width: 45%;
    border-radius: 30px;
    height: 45px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
}

#addItemModal .modal-footer input[type="button"]:first-of-type {
    background: linear-gradient(91deg, #6C10F4, #9013FE);
    color: white;
}

#addItemModal .modal-footer input[type="button"]:last-of-type {
    background-color: white;
    border: 1px solid #6C10F4 !important;
    color: #6C10F4;;
}



/*
*
*Register view
*
*/

#registration, #login {
    background-image: url(../img/backgroundReg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    margin: 2% 3% 2% 3%;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 20px;
    background-color: #F9F9F9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    min-height: 95vh;
    width: 100vh;
    text-align: center;
}

.wrapper .logo {
    width: 60%;
    height: auto;
    margin: 8% 0 0 0;
    display: inline-block;
}

#login .wrapper form {
    margin-top: 10%;
}

.wrapper h1 {
    text-align: center;
    padding: 5% 0px 1% 0px;
    font-size: 30px;
    font-weight: bold;
}

.wrapper ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0px 5%;
}

#login .wrapper form .input-box {
    margin-top: 8%;
}

.wrapper .input-box ul li {
    list-style-type: none;
    margin-bottom: 5%;
    display: flex;
    padding: 0px 5%;
    width: 100%
}

#login .wrapper form .input-box ul li {
    margin-top: 2%;
}

.wrapper .input-box ul li input {
    flex:1;
}

.wrapper .input-box select {
    border-radius: 45px;
    border: 1px solid #ccc;
    height: 50px; 
    width: 100%;
}

.wrapper form input:not([type="submit"]){
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    /*border-radius: 5px;*/
    /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
    height: 35px;
    background-color: #F9F9F9
}

.wrapper form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.wrapper .input-box i {
    margin: 0;
    display: inline;
}

.wrapper form .button, #followButton {
    width: 100%;
    box-sizing: border-box;
    border-radius: 45px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: 1px solid #6C10F4;
    color: #6C10F4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: white;
    margin-top: 5%;
}

.wrapper form input[type="submit"], #followButton, #viewPostDetailLink{
    background: linear-gradient(to top, #6C10F4, #9013FE);
    color:white;
}

.wrapper form .button:hover {
    box-shadow: 0px 15px 20px #F6EBFF;
    transform: translateY(-7px);
}

#profile-pic-icon {
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 50%;
    text-align: center;
    padding: 20px; /* Aumenta il padding per rendere l'area cliccabile più grande */
    cursor: pointer;
}

#profile-pic-icon svg {
    width: 40px;
    height: auto;
    text-align: center;
}

#add-profile-pic img {
    text-align: center;
    width: 80px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    cursor: pointer;
}

#add-profile-pic {
    display: block !important;
}

.input-box #add-profile-pic {
    text-align: center;
    justify-content: center;
}

#profile-pic {
    display: block;
    width: 35% !important;
    margin: auto;
    margin-top: 1%;
}


/**
*Home View
*/

.post {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    display: grid;
    grid-template-rows: 10px 50px 10px 510px auto auto;
    grid-template-columns: 100%;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
}
.post header, #postModal .modal-header{
    order: 0;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    grid-row: 1/span 3;
}
.post header a{
    color: rgba(13, 110, 253, 1);
    margin-left: 15px;
    opacity: 1;
    font-weight: 600;
}
.post header p, #postDate{
    margin-left: auto;
    font-size: small;
    opacity: .5;
}

.post header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.post > img {
    width: 100%;
    height: 100%;
    grid-row: 4/span 1;
    grid-column: 1/span 1;
    z-index: 0;
}

.post  canvas {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
    z-index: 1;
}

.post section {
    order: 2;
    grid-row: 5/ span 1
}

.post section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0px 0px 0px;
}

.post section > div div{
    text-align: center;
}

.post section > div div i{
   font-size: x-large;
}


.post section > div div p{
    opacity: .5;
    font-size: smaller;
}

.post section button {
    border: none;
    background-color: white;
    border-radius: 50px;
}

.post section button:hover {
    background-color: #e0e0e0;
}

.post footer {
    grid-row: 6/ span 1;
    overflow-y: scroll;
    padding: 0 15px 0 15px;
}
.post footer p {
    opacity: .8;
}
.modal-header button {
    border: none !important;
    background: none !important;
}
#commentsModal .modal-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
#commentsModal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#commentsModal .modal-footer .input-group {
    border: 1px solid black;
    border-radius: 30px;
}

#commentsModal .modal-footer .input-group input {
    border: none;
    border-radius: 30px;
}
#commentsModal .modal-footer .input-group button {
    border: none;
   
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(to top, #6C10F4, #9013FE);
    color:white;
}

.comment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 20px;
}
.comment section header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.comment section header a {
    color: #000;
    font-weight: 500;
    align-items: center;
}
.comment section header p {
    margin-left: auto;
    opacity: .4;
    font-size: smaller;
}
.comment img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.modal-content {
    background-color: #fcfcfc;
    max-height: 600px !important;
    overflow-y: scroll;
}

#notifyModal .modal-body {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
}
#notifyModal .notification {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.notification {
    width: 90%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 10px 60px 20px auto 10px;
    grid-template-rows: 20px 30px 30px 30px;
}

.notification img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50px;
    grid-column: 2/span 1;
    grid-row: 2/ span 2;
}
.notification p:first-of-type {
    grid-column: 4/span 1;
    grid-row: 2/span 2;

}

.notification .notify-user {
    font-weight: 600;
}

.notification .notify-time {
    opacity: .5;
    font-size: small;
}


/*
    Profile view
*/

#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#profile-info {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile-info p {
    margin-bottom: 0.5%;
    font-weight: 480;
}

#profile-info p:first-of-type {
    font-size: 150%;
    font-weight: 500;
    margin-top: 0.5%;
}

.profile-pic-container {
    width: 30%;
    aspect-ratio: 1 / 1; /* Crea un contenitore quadrato */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

#profile-info img, .profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
}
  
.stat-item {
    flex: 1;
    text-align: center;
    padding: 0 5%;
}

#switch-container {
    background: linear-gradient(91deg, #9013FE -2.61%, #6C10F4 100%);
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icon {
    cursor: pointer;
    color: #e0e0e0;
    font-size: 1.2em;
    width: 10%;
    text-align: center;
    padding-bottom: 2%;
}

.icon.active {
    border-bottom: 1.5px solid #e0e0e0;
}

.grid.hidden, .grid.no-posts-found.grid.hidden, .grid.hidden.no-posts-found {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 1px;
}

.grid.no-posts-found {
    display: block;
    text-align: center;
    padding: 10% 0;
}

.no-posts {
    font-size: 200%;
    opacity: 0.7;
    margin: auto;
    align-self: center;
}

.profile-post {
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.profile-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-main a {
    text-decoration: none;
}

.userContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 2%;
    padding-left: 3%;
    padding-top: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.lastUserContainer {
    border-bottom: none;
}

.userContainer p {
    text-align: center;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 2%;
}

.userContainer .profile-pic-container{
    width: 15%;
}

#modalFollow .modalTitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#postModal .modal-header {
    align-items: center;
}

#postModal .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: initial;
}

#postModal .modal-body img {
    border-radius: 2%;
}

#postModal .modal-footer {
    display: flex;
    justify-content: space-between;
}

#viewPostDetailLink {
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    font-size: small;
    font-weight: 500;
    border: 1px solid #6C10F4;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#postCaption {
    margin-left: 4%;
}

#profilePicPost {
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 2%;
}

#postUsername {
    font-weight: bold;
}

.profile-post {
    cursor: pointer;
}

#followButton {
    margin-top: 0.5%;
    width: 25%;
    height: 30px;
    margin-bottom: 1%;
}
 
.stat-item-desc {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.7);
}

.stat-item-num {
    font-weight: 600;
    font-size: 110%;
}

/*
    Search sidebar
*/

    #search-sidebar {
        height: calc(100% - 70px);
        width: 0;
        position: fixed;
        z-index: 1;
        top: 70px;
        left: 0;
        background-color: #F9F9F9;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0.5%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    #search-sidebar .sidebar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2% 2% 2%;
        height: 12%;
        align-items: center;
    }

    #search-sidebar .sidebar-header input {
        width: 90%;
        border-radius: 20px;
        border: 1px solid #b9b9b9;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        height: 70%;
        padding-left: 1%;
    }


    #search-sidebar .sidebar-header .close-sidebar {
        cursor: pointer;
        border: none !important;
        background: none !important;
    }

    #search-sidebar .search-container {
        overflow-y: scroll;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 0;
        cursor: pointer;
        top:0
    }

    .initially-hidden {
        display: none;
    }

/*Desktop view*/
@media screen and (min-width: 769px) {
    
    body {
        height: 100%;
    }

    nav {
        position: fixed;
        background: none;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 20% !important;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: initial;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 28px;
        opacity: .3;
    }
    
    nav ul li[data-name="hidden"] {
        display: none;
    }
    
    main {
        width: 59%;
        padding-bottom: 150px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-left: 20%;
        padding-top: 3%;
        margin-top: 70px;
    }
    
    aside {
        float: right;
        min-height: 100vh;
        overflow-y: auto !important;
        width: 21% !important;
        position: fixed; 
    }
    
    /* Register view */
    
    #registration .wrapper{
        margin: 1% 10% 1% 10%;
    }

    #login {
        background: linear-gradient(to bottom, #6C10F4, #9013FE);
    }

    #login .wrapper {
        height: 100vh;
        border-radius: 0%;
        margin: 0 0 0 auto;
        width: 30%;
    }

    #registration .wrapper .input-box ul{
        flex-direction: initial;
    }

    #registration .wrapper .input-box ul li {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 5px; 
    }

    .input-box #add-profile-pic, .input-box #gender-wrapper {
        flex: 0 0 100% !important;
    }

    #registration .wrapper .input-box #add-profile-pic input{
        width: 100%;
    }

    #registration .wrapper .input-box #gender {
        width: 50%;
    }
    
    .wrapper .logo {
        width: 45%;
        margin-top: 3%;
    }

    #login .wrapper form {
        margin-top: 2%;
        margin-bottom: auto;
    }

    #login .wrapper form .input-box {
        margin-top: 0%;
    }
    /*
    *
        Home Section
    *
    */
    .post {
        display: grid;
        margin-bottom: 80px;
        width: 90%;
        height: 430px;
        max-width: 800px !important;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border-radius: 30px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    }
    .post >img {
        height: 430px;
        grid-column:1/ span 3;
        grid-row:1 / span 4;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .post > canvas {
        grid-column:1/ span 3;
        grid-row:1 / span 4;
    }

    .post > header {
        padding: 0px 25px 0px 25px;
        grid-column: 4/span 2;
        grid-row: 1/span 1;
    }
    .post > section {
        grid-column: 4/ span 2;
        grid-row: 4/span 1;
    }
    .post > footer {
        display: initial;
        grid-column: 4/ span 2;
        grid-row: 2/span 2;
        overflow-y: scroll;
        padding: 0px 25px 0px 25px;
    }

    aside.notificationAside {
        display: initial;
        padding-top: 50px;
        overflow-y: scroll; 
    }

    aside.notificationAside h3 {
        margin: 50px 0 50px 5%;
    }

    /*
        Profile view
    */

    #profile-main {
        height: 100%;
    }

    #profile-container {
        padding: 0;
    }

    .profile-pic-container {
        width: 25%;
    }

    #switch-container {
        background: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.70);
        border-bottom: 1px solid rgba(0, 0, 0, 0.70);
        margin-top: 3%;
        padding: 2%;
        padding-bottom: 1%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .grid {
        margin-top: 0.1%;
    }
    
    .icon {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.60);
        font-size: 1.6em;
        width: 40%;
        text-align: center;
    }
    
    .icon.active {
        border-bottom: none;
        color: rgba(0, 0, 0, 0.80);
    }

    #followButton {
        margin-top: 0.5%;
        width: 15%;
        height: 40px;
        margin-bottom: 2%;
    }

    /*
    *
    *Create View
    *
    */
    main#createMain {
        padding: 0 30px 0 30px;
    }
    
    main#createMain > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
    }

    #createMain section:first-of-type {
        width: 380px;
    }
   
    #createMain > div:first-of-type > div:last-child {
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: space-around;
    }

    main#createMain .item {
        flex: 0 0 45%;

    }
   
    aside#createAside {
        margin: 70px 0;
        padding: 0;
    }
    aside#createAside section:first-of-type{
        width: 80%;
        margin: 0;
    }
    aside#createAside > section img {
        width: 70px;
        height: 70px;
    }
    #createAside section ul li h4 {
        font-size: 80%;
    }
    aside#createAside form textarea, aside form input {
        width: 90%;
    }
    #addItemModal .modal-footer {
        flex-direction: row;
    }
    #addItemModal .modal-footer input[type="button"]{
        width: 45%;
        height: 45px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    aside.notificationAside{
        display: none !important;
    }
    
    nav ul li[data-name="hidden"] {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 20px;
    }
    
    /**Home View*/
    main#homeMain, #profile-main {
        width: 80%;
        border-right: none;
    }

    /*Create View*/
    #createMain {
        width: 80%;
        border-right: none;
        padding-bottom: 0 !important;
    }
    #createAside {
        position: relative;
        display: flex;
        margin: 0px 0px 0px 20% !important;
        width: 80% !important;
        border-left: 1px solid black !important;
        flex-direction: row;
        align-items: center;
        min-height: 100vh;
    }

    #createAside > section:first-of-type {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        flex: 1;
        height: 100%;
    }
    #createAside > section:first-of-type > img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 5%;
    } 
    #createAside > section:first-of-type ul {
       margin: 0;
       padding: 0;
    }

    #createAside > section:first-of-type ul li {
        text-align: center;
    }

    #createAside > form {
        flex:1;
        height: 100%;
        border-left: 1px solid rgb(207, 207, 207);
    }
   
    
}